/*COLORS
  white: #FCFBF9
  blue1: #D7DCEA
  blue2: #A1B3D7
  blue3: #6581BF
  blue4: #2F57AB
  blue5: #0B389D
*/
@font-face {
  font-family:"VT323";
  src:
  local("VT323-Regular.ttf"),
  url(../fonts/VT323-Regular.ttf)
}

@font-face {
  font-family:"Merriweather";
  src: 
  local("Merriweather-VariableFont_opsz,wdth,wght.ttf")
  url(../fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}

html, body{
  height: 100%;
  width: 100%;
  overflow:hidden;
  touch-action:none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:linear-gradient(to left top,#A1B3D7,#FFC5D3);
}

div#case {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 450px;
  width: 300px;
  border: solid black 1px;
  padding: 16px;
  background-image:linear-gradient(#FCFBF9,#6581BF);
  border-radius:2.5%;
}

#display {
  border: solid black 1px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 48px;
  padding: 4px;
  box-sizing: border-box;
  background-color:#a5ac80;
  font-family:"VT323";
  font-size:4rem;
}

div#cluster {
  display:flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  padding: 0px;
}

.row {
  display: flex;
  gap: 8px;

}

#first {
  display:flex;
  justify-content: space-between;
  margin-right:2px;
}

#first > .button {
  background-color:#FCFBF9;
  font-family:"Merriweather";
  font-size:2rem;
}

#first > .button:hover {
  background-color:#D7DCEA;
}

#second > .button {
  color:#FCFBF9;
  background-color:#A1B3D7;
  font-family:"Merriweather";
  font-size:2rem;
}

#second > .button:hover {
  background-color:#D7DCEA;
}

#third > .button {
  color:#FCFBF9;
  background-color:#6581BF;
  font-family:"Merriweather";
  font-size:2rem;
}

#third > .button:hover {
  background-color:#A1B3D7;
}

#fourth > .button {
  color:#FCFBF9;
  background-color:#2F57AB;
  font-family:"Merriweather";
  font-size:2rem;
}

#fourth > .button:hover {
  background-color:#6581BF;
}

#fifth > .button {
  color:#FCFBF9;
  background-color:#0B389D;
  font-family:"Merriweather";
  font-size:2rem;
}

#fifth > .button:hover {
  background-color:#2F57AB;
}

.button {
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  border-radius:50%;
  transition-duration:0.4s;
  cursor:pointer;
}